# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
venv/
env/

# Ignore dataset files (optional, if not sharing the dataset)
data/*.csv

# Ignore model files (optional, if pickle files are not shared)
models/*.pkl

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.bak
*.swp
*.swo
*.~lock.*

# Ignore IDE settings
.idea/
.vscode/

# Ignore compiled files
*.so
*.dll
*.exe
*.out

# Ignore zip or tar archives
*.zip
*.tar.gz
*.rar
